*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "sidebar"
    "header"
    "main"
    "footer"
    "sidebar-mini";
    grid-template-columns: 1fr;
}
.sidebar{
    grid-area: sidebar;
    color: #ffff;
    background-color: rgb(60, 60, 195);
    padding: 20px;
}
.sidebar-container{
    display: flex;
    justify-content: space-between;
}
.sidebarlist {
    display:none;
    list-style: none;
    margin: 15px;
    font-size: 20px;
}
.sidebarlist > a{
    color: #ffff;
    text-decoration: none;
}
.sidebar-container .iconobars {
    display: block; 
}
.header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(193, 189, 189);
    padding-bottom: 20px;
    padding-top: 10px;
}
.header > .form-select{
    border-radius: 5px;
    width: 80%;
    padding: 8px;
}
.main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-cards {
    justify-items: center;
    padding-bottom: 30px;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
button{
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(60, 60, 195);
}
button > a{
    color: #ffff;
    text-decoration: none;
}
.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
}
.footerhijos{
    border: 1px solid gray;
    padding: 15px;
}

.sidebar-mini {
    grid-area: sidebar-mini;
    background-color: rgb(41, 41, 136);
    color: #ffff;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

@media (width >= 576px){
    .grid-container {
        display: grid; 
        grid-template-areas: 
            "sidebar header header"
            "sidebar main main"
            "sidebar-mini footer footer";
            grid-template-columns: 20rem 1fr;
            grid-template-rows: auto 1fr auto;
            height: 100vh; 
    }
    .sidebar-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        
    }
    .sidebar-container > .iconobars{
        display: none;
    }
    .sidebarlist {
        display: block; 
    }
    .sidebarlist li {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .sidebarlist li a{
        color: #ffff;
        text-decoration: none;
    }
    .sidebarlist li a:hover{
        color: gray;
    }
    .main .main-padre{        
        grid-area: main;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: scroll;
    }
    .main-cards{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
        padding-bottom: 10px;
        margin: 20px;
    }
    img{
        width: 250px;
        height: 350px;
        object-fit: cover;
    }
}



